//- Pure pug without template inhertance
//- // Only used in contact.pug using template.pug

doctype html
html
  head
    title Gaming for Life
    style
      include style.css
  body
    div 
      nav#navbar 
            ul
                li #[a(href='/') Home ] 
                li #[a(href='/') About us] 
                li #[a(href='/') Servies] 
                li #[a(href='/contact') Contact us]
    div#container1 
        Sec-Wall#wallSection
            h1#heading1 One of the Most Smooth Experince
            h2#heading2 Lets you Play Better
    div#container2 
        Sec-Goal#goalSection
            div#box1
                 
        Sec-Goal#goalSection
            div#box2
                 
        Sec-Goal#goalSection
            div#box3
                
                
    div#container3
        Sec-footer#footerSection
            h3 Copyright © 2021 fsGaming.com.pk All Rights Reserved 
    script
      include script.js