<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Open</title>
    style
      include style.css
</head>
<body>
    <div>
        <h1>Welcome to Admission</h1>
        <h1>Fill the form as soon as possible</h1>
        <form action="/" method="POST">
        <input name="name" id="name" type="text" placeholder="Enter Your Name">
        <input name="age" id="age" type="number" placeholder="Enter Your age">
        <input name="gender" id="gender" type="text" placeholder="Enter Your Gender">
        <textarea name="address" id="address" cols="30" placeholder="Enter your Address " rows="10"></textarea>
        <button>Submit</button>
        </form>
    </div>
</body>
</html>