*{
    margin: 0;
}
h1{
    text-align: center;
    background-color: green;
    color: white;
    font-size: 45px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 25px;
}

input,textarea, button{
     
    display: block;
    margin: 17px auto;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 55px;
}

body::before{
   height: 790px;
   content: "";
   position: absolute;
   width: 100%;
   top: 0px;
   background: url('../static/techno.jpg') no-repeat center center;
   z-index: -1;


}
